:root {
    --primary-color : #17a2b8;
    --bg-color : #24353f;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.login {
    height: 100vh;
    background-color: var(--bg-color);
}

.login  .item {
    padding: 50px;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    width: 100%;
}
@media (min-width: 768px) {
    .login  .item{
        width: 60%;
    }
}
.login  .item h1 {
    color: var(--primary-color);
}
.login  .item button {
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.login  .item button:hover {
    background-color: var(--primary-color);
    color: white;
}
.login  .item input:focus{
    box-shadow:0 0 2px 2px var(--primary-color);
    border-color: var(--primary-color);
}
.login  .item input::placeholder {
    color: #ced4da;
}
.login  .item input {
    border: 1px solid #ced4da;
}
.login  .item a {
    color: var(--primary-color);
}

header{
    background-color: var(--bg-color);
    height: 100vh;
}

.navbar {
    background-color: var(--bg-color);
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.navbar a {
    color: white;
}

.navbar .navbar-nav li a {
    background-color: transparent;
    border: 1px solid rgb(203, 203, 7);
}
.navbar .navbar-nav li a:hover {
    background-color: rgb(255, 200, 0);
}
.landing{
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .item {
    padding: 50px;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    width: 100%;
}

@media (min-width: 768px) {
    .landing  .item{
        width: 60%;
    }
}
.landing .item h2 {
    font-size: 40px;
    color: var(--primary-color);
}